@import "../styles/mixins.scss";

.CardWrapper{
    img{
        border-radius: 20px;
    }
    @include mQ(600px) {
        display: flex;
        justify-content: center;
      }
}
.Loader{
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
}